version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "deps"
    # Disable version updates and only allow security updates
    open-pull-requests-limit: 0
