#################################################
# Exclude all by default
#################################################
*

#################################################
# Whitelisted folders
#################################################
!docker*
!events*
!extension_course*
!helcourses*
!helevents*
!linkedevents*
!locale*
!multilingual_haystack*
!templates*

#################################################
# Whitelisted files
#################################################
!config_dev.toml
!entrypoint.admin.sh
!entrypoint.dist.sh
!local_settings.py
!manage.py
!pytest.ini
!requirements*
!setup.cfg
