#################################################
# Exclude all by default
#################################################
*

#################################################
# Whitelisted folders
#################################################
!events*
!extension_course*
!helcourses*
!helevents*
!linkedevents*
!locale*
!multilingual_haystack*
!notifications
!templates*

#################################################
# Whitelisted files
#################################################
!docker/postgres/docker-entrypoint.sh
!docker/postgres/init-db.sh
!entrypoint.admin.sh
!entrypoint.dist.sh
!manage.py
!requirements.txt
!requirements-dev.txt
!setup.cfg
