*~
*.pyc
.cache
*.sqlite
*.sqlite3
*.pickle
local_settings.py
static/CACHE
media/
.vagrant/
.idea
.django_secret
*.iml
*.kate-swp
data/
.pytest_cache/
templates/rest_framework/api.html
templates/rest_framework/event_list.html
templates/rest_framework/keyword_list.html
templates/rest_framework/place_list.html
templates/rest_framework/root.html
templates/rest_framework/search_list.html
venv