language: python

python:
  - "2.7"

addons:
  postgresql: "9.3"

before_script:
  - psql -d template1 -c 'create extension hstore;' -U postgres
  - psql -d template1 -c 'create extension postgis;' -U postgres
  - psql -d template1 -c 'create extension postgis_topology;' -U postgres
  - psql -c 'create database linkedevents;' -U postgres

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install pep8

# command to run tests
script:
  - pep8 --exclude=migrations --ignore=E501,E701 events
  - python manage.py test