# local development environment

version: '3.7'
services:
    postgres:
        build: ./docker/postgres/
        environment:
            POSTGRES_USER: linkedevents
            POSTGRES_PASSWORD: linkedevents
            POSTGRES_DB: linkedevents
        ports:
            - "5432:5432"
        volumes:
            - postgres-data-volume:/var/lib/postgres/data
        container_name: linkedevents-db

    django:
        build:
            context: ./
            dockerfile: ./docker/django/Dockerfile
        command: ["./docker/wait-for-it.sh", "--host=postgres", "--port=5432", "--strict", "--timeout=10", "--",
                  "python", "manage.py", "runserver", "0.0.0.0:8000"]
        environment:
            - DATABASE_URL=postgres://linkedevents:linkedevents@linkedevents-db/linkedevents
            - PYTHONUNBUFFERED=true
            - PYTHONDONTWRITEBYTECODE=true
        volumes:
            - .:/code
            - django-media-volume:/var/media/
        ports:
            - "8000:8000"
        depends_on:
            - postgres
        container_name: linkedevents-backend

volumes:
        postgres-data-volume:
        django-media-volume:
