version: '3.7'

services:

    postgres:
        build:
            context: ./
            dockerfile: ./docker/postgres/Dockerfile
        environment:
            POSTGRES_USER: linkedevents
            POSTGRES_PASSWORD: linkedevents
            POSTGRES_DB: linkedevents
        ports:
            - "127.0.0.1:5555:5432"
        volumes:
            - postgres-data-volume:/var/lib/postgres/data

    django:
        build:
            context: ./
            dockerfile: ./docker/django/Dockerfile
            target: development
        environment:
            - APPLY_MIGRATIONS=true
            - CREATE_SUPERUSER=true
            - DEBUG=true
            - DATABASE_URL=postgis://linkedevents:linkedevents@postgres/linkedevents
            - DEV_SERVER=true
            - RUNSERVER_ADDRESS=0.0.0.0:8000
            - WAIT_FOR_IT_ADDRESS=postgres:5432
        volumes:
            - .:/app:cached
            - django-media-volume:/var/media/
        ports:
            - "127.0.0.1:8000:8000"

volumes:
        postgres-data-volume:
        django-media-volume:
