version: '3'
services:
    postgres:
        build: ./docker/postgres/
        environment:
            POSTGRES_USER: linkedevents
            POSTGRES_PASSWORD: linkedevents
            POSTGRES_DB: linkedevents
        ports:
            - "5432:5432"
        volumes:
            - postgres-data-volume:/var/lib/postgres/data
        container_name: linkedevents-db

    django:
        build:
            context: ./
            dockerfile: ./docker/django/Dockerfile
        environment:
            - DATABASE_URL=postgres://linkedevents:linkedevents@linkedevents-db/linkedevents
            - APPLY_MIGRATIONS=1
            - DEV_SERVER=1

        volumes:
            - .:/app
            - django-media-volume:/var/media/
        ports:
            - "8000:8000"
        depends_on:
            - postgres
        container_name: linkedevents-backend

volumes:
        postgres-data-volume:
        django-media-volume:
