[tool.ruff]
target-version = "py312"

[tool.ruff.lint]
select = [
    # Pyflakes
    "F",
    # pycodestyle
    "E",
    "W",
    # isort
    "I",
    # pep8-naming
    "N",
    # flake8-bugbear without opinionated rules
    "B0",
    # flake8-pie
    "PIE",
    # flake8-print
    "T20",
    # pyupgrade
    "UP",
]
extend-per-file-ignores = { "*/migrations/*" = ["E501"], "*/tests/*" = ["E501"] }

[tool.pip-tools.compile]
allow-unsafe = true
generate-hashes = true
strip-extras = true

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "linkedevents.test_settings"
norecursedirs = [".git", "venv"]
