attrs
beautifulsoup4
bleach
django-admin-autocomplete-filter
django-cleanup
django-cors-headers
django-environ
django-filter
django-haystack
django-helusers
django-image-cropping
django-jinja
django-leaflet
django-mailer
django-modeltranslation
django-mptt
django-munigeo
django-orghierarchy
django-redis
django-rest-knox
django-reversion
django-searchable-encrypted-fields
django~=4.2
djangorestframework
djangorestframework-bulk
djangorestframework-gis
drf-oidc-auth
drf-spectacular
easy_thumbnails
elasticsearch<8
helsinki-profile-gdpr-api
httmock
icalendar
ipython
isodate
jinja2
langdetect
libvoikko
lxml
markdown
num2words
pillow
psycopg2
pyYAML
python-dateutil
python-docx
rdflib==6.3.2
regex
requests-cache
requests
sentry-sdk[django]
social-auth-app-django
social-auth-core
ujson
whitenoise
xlsxwriter
