Django<1.10
Markdown
PyYAML
django-cors-headers
django-filter
django-modeltranslation>=0.11rc2
django-mptt
django-reversion
django-hstore
djangorestframework
djangorestframework-gis
djangorestframework-jwt
lxml
isodate
psycopg2
pyflakes
pylint
python-dateutil
pytz
requests
requests-cache
six
django-extensions
rdflib
-e git+https://github.com/City-of-Helsinki/munigeo#egg=django-munigeo
icalendar
httmock
bleach
django-haystack
elasticsearch<5.0
raven
-e git+https://github.com/City-of-Helsinki/django-helusers@v0.1#egg=django-helusers
pytest-django
pip-tools
django-image-cropping
easy_thumbnails
Pillow
django-cleanup
django-allauth
django-leaflet
djangorestframework-bulk
python-docx
