-c requirements.txt

Werkzeug
black
django-debug-toolbar
django-extensions
factory_boy
flake8
flake8-bugbear
freezegun
isort
pep8-naming
pip-tools
pytest
pytest-cov
pytest-django
pytest-factoryboy
python-jose
