-c requirements.txt

Werkzeug
django-anymail
django-debug-toolbar
django-extensions
factory_boy
freezegun
pip-tools
pytest
pytest-cov
pytest-django
pytest-factoryboy
pytest-freezer
python-jose
requests-mock
# Keep this in sync with .pre-commit-config.yaml
ruff==0.7.0
snakemd
