attrs
beautifulsoup4
bleach
django-admin-autocomplete-filter
django-anymail
django-cleanup
django-cors-headers
django-environ
django-filter>=2.1.0
django-haystack[elasticsearch]
django-helusers
django-image-cropping
django-jinja==2.10.2
django-leaflet
django-modeltranslation>=0.18.4
django-mptt>=0.10.0
django-munigeo
django-orghierarchy>=0.1.24
django-reversion
django~=3.2
djangorestframework
djangorestframework-bulk
djangorestframework-gis
djangorestframework-jwt
drf-oidc-auth==0.10.0
easy_thumbnails
httmock
icalendar
isodate
jinja2
langdetect
lxml
markdown
pillow
psycopg2-binary
pyYAML
python-dateutil
python-docx
python-memcached
pytz
rdflib==6.1.1
regex
requests-cache
requests>=2.20.0
sentry-sdk
social-auth-app-django
social-auth-core
ujson
whitenoise
