{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="simpleClient">
<head>
    <title>Linked Events Simple Client</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular-cookies.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
    <script src="{% static "js/app.js" %}"></script>
</head>
<body>
{% verbatim %}
<div class="container" ng-controller="SimpleClientCtrl">
    <form role="form">
        <div class="row">
            <h1>Linked events</h1>

            <div class="col-md-5">
                <div class="form-group">
                    <label for="startDate">Alkupäivämäärä</label>

                    <p class="input-group">
                        <input type="text" name="startDate" class="form-control"
                               datepicker-popup="{{ format }}"
                               ng-model="startDate" is-open="startDateOpened"
                               close-text="Sulje"/>
                      <span class="input-group-btn">
                        <button class="btn btn-default"
                                ng-click="openStartDate($event)"><i
                                class="glyphicon glyphicon-calendar"></i>
                        </button>
                      </span>
                    </p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="endDate">Lopetuspäivämäärä</label>

                    <p class="input-group">
                        <input type="text" name="endDate" class="form-control"
                               datepicker-popup="{{ format }}"
                               ng-model="endDate"
                               is-open="endDateOpened" close-text="Sulje"/>
                      <span class="input-group-btn">
                        <button class="btn btn-default"
                                ng-click="openEndDate($event)"><i
                                class="glyphicon glyphicon-calendar"></i>
                        </button>
                      </span>

                    </p>
                </div>
            </div>
            <div class="col-md-2">
                    <div class="form-group" style="margin-top: 24px;">
                        <button type="button" class="btn btn-primary"
                                ng-click="search()">Hae
                        </button>
                    </div>
            </div>
        </div>
    </form>

    <br><br>
    <div class="row" ng-show="showPagination">
        <table class="table">
            <tr><th>id</th><th>nimi</th><th>kuvaus</th><th>luontiaika</th></tr>
            <tr ng-repeat="event in events">
                <td>{{event.id}}</td><td>{{i18n(event.name)}}</td><td>{{i18n(event.description)}}</td><td>{{event.created_time}}</td>
            </tr>
        </table>
        <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    </div>
</div>
{% endverbatim %}
</body>
</html>
