<h2 id="filtering-retrieved-signup-groups">Filtering retrieved signup groups</h2>
<p>Only admin users of the registration publisher organization can search signup groups.</p>
<p>Query parameters can be used to filter the retrieved signup groups by the following criteria.</p>

<h3 id="signup-group-registration">Registration</h3>
<p>To find out signup groups of specific registration, use the query parameter <code>registration</code>. You may separate values by commas if you wish to query for several registrations.</p>
<p>Example:</p>
<pre><code>signup_group/?registration=1</code></pre>

<h3 id="signup-group-text">Signup group text</h3>
<p>To find out signup groups whose signups contain a specific string in name, email, membership_number or phone_number fields, use the query parameter <code>text</code>.</p>
<p>Example:</p>
<pre><code>signup_group/?text=shostakovich</code></pre>

<h3 id="signup-group-attendee-status">Attendee status</h3>
<p>You may use the query parameter <code>attendee_status</code>, comma separated, to get only signup groups with specific attendee status.
<p>Example:</p>
<pre><code>signup_group/?attendee_status=attending</code></pre>
