{% extends "rest_framework/base.html" %}

{% block branding %}
  <a class='navbar-brand' rel="nofollow" href='#'>
      HKI Linked Events API <span class="version">1</span>
  </a>
{% endblock %}

{% block description %}
{% if breadcrumblist|length == 1 %}

<div style="border: 1px solid #ddd;
          background-color: #eee;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          padding: 5px;
          margin: 10px 0 20px 0;">

<p>
This Linked events API contains data from the
<a href="http://www.visithelsinki.fi/" title="Visit Helsinki">Helsinki
City Tourist &amp; Convention Bureau</a>,
the <a href="http://www.hel.fi/www/kulke/fi" title=Kulke">City of Helsinki Cultural Office</a>
and the <a href="http://www.helmet.fi/">Helmet metropolitan area public libraries</a>.
</p>
<p>
The location information is linked to the City of Helsinki registry of
service units which contains e.g. information about accessibility.
</p>
<p>
In the API, you can search data by date or location as
well as city neighborhoods.
</p>
<h1>Data license</h1>
<p>Data is licensed using CC BY 4.0 license.
    <a href="http://creativecommons.org/licenses/by/4.0/deed.fi">FI</a> |
    <a href="http://creativecommons.org/licenses/by/4.0/deed.sv">SV</a> |
    <a href="http://creativecommons.org/licenses/by/4.0/deed.en">EN</a>
</p>

</div>
{% endif %}
{{ description }}
{% endblock %}
