<p>Linked Events provides categorized data on events and places.
In the API, you can search data by date or location as
well as city neighborhoods.</p>
<p>The API provides data in JSON-LD format.</p>
<p><em>The API is in beta phase. To help improve the API, please don’t
hesitate to comment, give feedback or make suggestions to
<a href="https://github.com/City-of-Helsinki/linkedevents/issues">API's Github issues</a> or
through project page at <a href="http://dev.hel.fi/projects/linked-events/">dev.hel.fi</a></em></p>
<h2 id="usage-instructions">Usage instructions</h2>
<p>Use the browsable version of the API at the bottom of this
page to explore the data in your browser.</p>
<p>Events are the main focus point of this API. Click on the event
link below to see the documentation for events.</p>
<h2 id="browsable-api">Browsable API</h2>