{% extends 'base_email.html' %}
{% load i18n %}

{% block content %}
  <tr>
    <td class="content-cell" style="padding:0;margin:0;text-align:left;">
      <div class="content-container" style="padding:0 16px;">
        {% if texts.heading %}
        <h1 style="color:#1a1a1a;font-size:36px;line-height:43px;font-weight:700;margin:0 0 12px;">
          {{texts.heading}}
        </h1>
        {% endif %}
        {% if texts.secondary_heading %}
        <h2 style="color:#1a1a1a;font-size:24px;font-weight:700;line-height:29px;margin:0;">
          {{texts.secondary_heading | safe}}
        </h2>
        {% endif %}
        <div class="divider" style="background:#0000bf;border-radius:0px;height:3px;width:100%;margin:24px 0;"></div>
        <div style="margin: 56px 0px 40px">
            {% if texts.text %}
            <p style="color:#1a1a1a;font-size:16px;font-weight:normal;line-height:24px;margin:0px;">
              {{texts.text | safe}}
            </p>
            {% endif %}
            {% if texts.secondary_text %}
            <p style="color:#1a1a1a;font-size:16px;font-weight:normal;line-height:24px;margin:0px;">
              {{texts.secondary_text | safe}}
            </p>
            {% endif %}
            {% if texts.confirmation_message %}
              <p style="color:#1a1a1a;font-size:16px;font-weight:normal;line-height:24px;margin:0px;">
                {{texts.confirmation_message | safe}}
              </p>
            {% endif %}
          </div>
          {% if payment_url %}
            {% include "_open_payment_link_button.html" %}
          {% else %}
            {% include "_open_registration_button.html" %}
          {% endif %}
      </div>
    </td>
  </tr>
{% endblock content %}
