{% extends 'base_email.html' %}
{% load i18n %}

{% block title %}{{texts.heading}}{% endblock title %}

{% block content %}
  <tr>
    <td class="content-cell" style="padding:0;margin:0;text-align:left;">
      <div class="content-container" style="padding:0 16px;">
        <h1 style="color:#1a1a1a;font-size:36px;line-height:43px;font-weight:700;margin:0 0 12px;">
          {{texts.heading}}
        </h1>
        <div class="divider" style="background:#0000bf;border-radius:0px;height:3px;width:100%;margin:24px 0;"></div>
        <div style="margin: 56px 0px 24px">
          <p style="color:#1a1a1a;font-size:16px;font-weight:normal;line-height:24px;margin:0px;">
            {{texts.text}}
          </p>
        </div>
        <div style="margin: 24px 0px 40px">
          <p style="color:#1a1a1a;font-size:16px;font-weight:normal;line-height:24px;margin:0px;">
            {% blocktranslate %}More information from our customer service{% endblocktranslate %}
            <a href="mailto:linkedevents@hel.fi" class="link" style="color:#0000bf;font-size:16px;font-weight:500;">linkedevents@hel.fi</a>
          </p>
        </div>
      </div>
    </td>
  </tr>
{% endblock content %}
