{% extends 'base_email.html' %}
{% load i18n %}

{% block content %}
  <tr>
    <td class="content-cell" style="padding:0;margin:0;text-align:left;">
      <div class="content-container" style="padding:0 16px;">
        <h1 style="color:#1a1a1a;font-size:36px;line-height:43px;font-weight:700;margin:0 0 12px;">
          {% blocktranslate %}Thank you for signing up for the waiting list{% endblocktranslate %}
        </h1>
        <div class="divider" style="background:#0000bf;border-radius:0px;height:3px;width:100%;margin:24px 0;"></div>
        <div style="margin: 56px 0px 40px">
          <p style="color:#1a1a1a;font-size:16px;font-weight:normal;line-height:24px;margin:0px;">
            <!-- Event -->
            {% if event_type_id == "1" %}
            {% blocktranslate %}The registration for the event <strong>{{event_name}}</strong> waiting list was successful.{% endblocktranslate %}
            <!-- Course -->
            {% elif event_type_id == "2" %}
            {% blocktranslate %}The registration for the course <strong>{{event_name}}</strong> waiting list was successful.{% endblocktranslate %}
            <!-- Volunteering -->
            {% elif event_type_id == "3" %}
            {% blocktranslate %}The registration for the volunteering <strong>{{event_name}}</strong> waiting list was successful.{% endblocktranslate %}
            {% endif %}
          </p>
          <p style="color:#1a1a1a;font-size:16px;font-weight:normal;line-height:24px;margin:0px;">
            <!-- Event -->
            {% if event_type_id == "1" %}
            {% blocktranslate %}You will be automatically transferred from the waiting list to become a participant in the event if a place becomes available.{% endblocktranslate %}
            <!-- Course -->
            {% elif event_type_id == "2" %}
            {% blocktranslate %}You will be automatically transferred from the waiting list to become a participant in the course if a place becomes available.{% endblocktranslate %}
            <!-- Volunteering -->
            {% elif event_type_id == "3" %}
            {% blocktranslate %}You will be automatically transferred from the waiting list to become a participant in the volunteering if a place becomes available.{% endblocktranslate %}
            {% endif %}
          </p>
        </div>
        <div class="cta-button-wrapper" style="margin: 0px 0px 40px">
          <a href="{{signup_edit_url}}" target="_blank" rel="noopener" class="cta-button" style="background:#0000bf;border-radius:0px;border:none;height:56px;text-align:center;text-decoration:none;vertical-align:middle;padding:16px 24px;box-sizing:border-box;display:inline-block;">
            <span style="color:#ffffff;font-size:16px;font-weight:500;line-height:24px;">
              {% blocktranslate %}Check your registration here{% endblocktranslate %}
            </span>
            <img alt="" aria-hidden="true" src="{{linked_events_ui_url}}/images/email/icon-arrow-right-white.png" style="height:24px;width:24px;margin-left:16px;vertical-align:top;" />
          </a>
        </div>
      </div>
    </td>
  </tr>
{% endblock content %}
