<h2 id="using-language-endpoint">Using the language endpoint</h2>
<p>Returns the list of languages used for describing events and registrations in this Linked events instance. The languages are also used when translating the user interface and email messages for end-users.</p>

<h4 id="showing-service-languages">Showing service languages</h4>
<p>By default, all languages are shown. To show only service languages or languages that are not service languages, you can use the boolean parameter <code>service_language</code>.</p>
<p>For example:</p>
<pre><code>language/?service_language=true</code></pre>
