{% extends "rest_framework/api.html" %}
{% load static %}

{% block bootstrap_theme %}
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/kanslia_bootstrap.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/bootstrap-tweaks.css" %}"/>
{% endblock %}

{% block branding %}
  <div class='navbar-brand'>
      <a href="https://dev.hel.fi"><img src="{% static "rest_framework/images/hel-dev-logo.svg" %}"></a>
      HKI Linked Events API <span class="version">{{ request.version|slice:"1:" }}</span>
  </div>
{% endblock %}

{% block description %}
{% if breadcrumblist|length == 1 %}


<div class="panel panel-default">
    <div class="panel-body">

<p>
This Linked events API contains data from the
<a href="http://www.visithelsinki.fi/" title="Visit Helsinki">Helsinki
City Tourist &amp; Convention Bureau</a>,
the <a href="http://www.hel.fi/www/kulke/fi" title="Kulke">City of Helsinki Cultural Office</a>
and the <a href="http://www.helmet.fi/">Helmet metropolitan area public libraries</a> as well as
other City of Helsinki departments.</p>
<p>
The API is developed by the
<a href="http://dev.hel.fi">City of Helsinki Open Software Development team</a>
, who also provide the <a href="http://dev.hel.fi/apis/linked-events">complete API specifications</a>.
The location information is linked to the City of Helsinki registry of
service units which contains e.g. information about accessibility.
In the API, you can search data by date or location as
well as bounding box.
</p>
<h2>Data license</h2>
<p>Unless otherwise stated, the data is licensed using CC BY 4.0 license:
    <a href="http://creativecommons.org/licenses/by/4.0/deed.fi">FI</a> |
    <a href="http://creativecommons.org/licenses/by/4.0/deed.sv">SV</a> |
    <a href="http://creativecommons.org/licenses/by/4.0/deed.en">EN</a>.</p>
<p>However, some images may only be used for marketing the specific event and may not be used outside this context.
These images are marked as <em>event_only</em> in the API. The <em>event_only</em> license is as follows:
<h4>FI</h4>
<p>Helsingin kaupungilla on kuviin kaikki oikeudet. Mikäli rajapinnassa jaettavan kuvan tietojen kohdassa <em>license</em> on merkintä <em>event_only</em>, saa kuvaa käyttää ainoastaan kuvan tapahtumaa käsittelevään tiedotukseen ja viestintään. Kuvien käyttäminen tähän tarkoitukseen on käyttäjälle ilmaista. Kuvan käyttö tai siirto muihin tarkoituksiin on kielletty. Kuvia käytettäessä on ehdottomasti mainittava kuvien lähde ja kuvaaja.</p>
<h4>SV</h4>
<p>Helsingfors stad äger alla rättigheter till bilderna. Om beteckningen <em>event_only</em> förekommer under <em>license</em> i uppgifterna för en bild som delas i gränssnittet, får bilden användas endast för informering eller kommunikation som gäller evenemanget på bilden. Att använda bilderna för det här ändamålet är gratis. Att använda eller flytta bilden för andra ändamål är förbjudet. Vid användning av bilder ska källan och fotografen absolut nämnas.</p>
<h4>EN</h4>
<p>The City of Helsinki reserves all rights to the images. If the data at <em>license</em> of an image shared in the interface contains the text <em>event_only</em>, then the image can only be used for information and communications connected to the event depicted in the image. The images can be used free of charge for this purpose. To use or move the image for other purposes is forbidden. The source and photographer must absolutely be mentioned when using an image.</p>

    </div>
</div>

{% endif %}

{% if name == "Event List" %}

<div class="panel panel-default">
    <div class="panel-body">

<h2 id="filtering-retrieved-events">Filtering retrieved events</h2>
<p>Query parameters can be used to filter the retrieved events by
the following criteria.</p>
<h3 id="event-time">Event time</h3>
<p>Use <code>start</code> and <code>end</code> to restrict the date range of returned events.
Any events that intersect with the given date range will be returned.</p>
<p>The parameters <code>start</code> and <code>end</code> can be given in the following formats:</p>
<ul>
<li>ISO 8601 (including the time of day)</li>
<li>yyyy-mm-dd</li>
</ul>
<p>In addition, <code>today</code> can be used as the value.</p>
<p>Example:</p>
<pre><code>event/?start=2014-01-15&amp;end=2014-01-20
</code></pre>
<p><a href="?start=2014-01-15&amp;end=2014-01-20" title="json">See the result</a></p>
<h3 id="event-location">Event location</h3>
<h4 id="bounding-box">Bounding box</h4>
<p>To restrict the retrieved events to a geographical region, use
the query parameter <code>bbox</code> in the format</p>
<pre><code>bbox=west,south,east,north
</code></pre>
<p>Where <code>west</code> is the longitude of the rectangle's western boundary,
<code>south</code> is the latitude of the rectangle's southern boundary,
and so on.</p>
<p>Example:</p>
<pre><code>event/?bbox=24.9348,60.1762,24.9681,60.1889
</code></pre>
<p><a href="?bbox=24.9348,60.1762,24.9681,60.1889" title="json">See the result</a></p>
<h4 id="specific-location">Specific location</h4>
<p>To restrict the retrieved events to a known location(s), use
the query parameter <code>location</code>, separating values by commas
if you wish to query for several locations.</p>
<p>Location ids are found at the <code>place</code> endpoint, which lists the
locations in decreasing number of events found. Most locations
originate from the Helsinki service point registry (tprek), hence
the format <code>tprek:28473</code>. An easy way to locate service points is
to browse <code>servicemap.hel.fi</code>, which uses the same location ids,
e.g. <code>servicemap.hel.fi/unit/28473</code>.</p>
<p>Example:</p>
<pre><code>event/?location=tprek:28473
</code></pre>
<p><a href="?location=tprek:28473" title="json">See the result</a></p>
<h4 id="district">District</h4>
<p>To restrict the retrieved events to city district(s), use the
query parameter <code>division</code>, separating values by commas
if you wish to query for several divisions.</p>
<p>City of Helsinki neighborhoods (kaupunginosa), districts (peruspiiri)
and subdistricts (osa-alue) are supported. You may query either by
specific OCD division type <code>peruspiiri:malmi</code>, or by division name
<code>malmi</code>. The latter query checks all divisions with the name,
regardless of division type.</p>
<p>Example:</p>
<pre><code>event/?division=malmi
</code></pre>
<p><a href="?division=malmi" title="json">See the result</a></p>
<h3 id="event-category">Event category</h3>
<p>To restrict the retrieved events by category, use the query
parameter <code>keyword</code>, separating values by commas if you wish to
query for several locations.</p>
<p>Keyword ids are found at the <code>keyword</code> endpoint, which lists the
keywords in decreasing number of events found. The common keywords
used in all events originate from the general Finnish ontology (yso),
hence the format <code>yso:p4354</code>.</p>
<p>Example:</p>
<pre><code>event/?keyword=yso:p4354
</code></pre>
<p><a href="?keyword=yso:p4354" title="json">See the result</a></p>
<h3 id="event-text">Event text</h3>
<p>To find out events that contain a specific string in any of the text
fields, use the query parameter <code>text</code>.</p>
<p>Example:</p>
<pre><code>event/?text=shostakovich
</code></pre>
<p><a href="?text=shostakovich" title="json">See the result</a></p>
<h2 id="getting-detailed-data">Getting detailed data</h2>
<p>In the default case, keywords, locations, and other fields that
refer to separate resources are only displayed as simple references.</p>
<p>If you want to include the complete data from related resources in
the current response, use the keyword <code>include</code>. For example:</p>
<pre><code>event/?include=location,keywords
</code></pre>
<p><a href="?include=location,keywords" title="json">See the result</a></p>

    </div>
</div>
{% else %}
    {{ block.super }}
{% endif %}
{% endblock %}
