<div class="panel panel-default">
    <div class="panel-body">
        <h2 id="using-keyword-set-endpoint">Using the keyword set endpoint</h2>
        <p>Here, the preferred sets of common keywords are listed.</p>
        <p>We recommend using the 20 piece keyword set <code>helsinki:topics</code> for general event grouping and
            <code>helsinki:audiences</code> for sorting by target group. These sets are used by the City of Helsinki in
            categorizing the majority of events in the API.</p>

        <h3 id="text">Search keyword sets</h3>
        <p>Search keyword sets by id and name. Covers Finnish, English and Swedish names.</p>
        <p>Example:</p>
        <pre><code>keyword_set/?text=topic</code></pre>
        <p><a href="?text=topic" title="json">See the result</a></p>

        <h3 id="sort">Sorting keyword sets</h3>
        <p>It is possible to sort the keywords sets by <code>name</code>, <code>usage</code>,
            and <code>id</code> in either ascending or descending order.</p>
        <p>Example:</p>
        <pre><code>keyword_set/?sort=id</code></pre>
        <p><a href="?sort=-id" title="json">See the result</a></p>
    </div>
</div>
