<div class="panel panel-default">
    <div class="panel-body">
        <h2 id="using-language-endpoint">Using the language endpoint</h2>
        <p>Here, languages for events are listed. In the <code>event</code> endpoint, the event languages
            may be shown in the <code>in_language</code> field, if known. </p>
        <p>Also, event data may have translations in the languages which have
            <code>translation_available</code> set to <code>true</code>. Currently, translations in
            <code>fi</code>, <code>sv</code>, <code>en</code>, <code>ru</code>, <code>zh_hans</code>,
            and <code>ar</code> are supported.</p>
        <p>Events organized in or translated to a specific language can be found at the <code>event</code>
            endpoint using the query parameter <code>language</code>.</p>

        <h3 id="language-service-language">Language as service language</h3>
        <p>To find out languages which can or cannot be used as service language in a registration,
            use the query parameter<code>service_language</code>.</p>
        <p>Example:</p>
        <pre><code>event/?service_language=true</code></pre>
        <p><a href="?service_language=true" title="json">See the result</a></p>
    </div>
</div>
