<div class="panel panel-default">
    <div class="panel-body">
        <h2 id="using-organization-endpoint">Using the organization endpoint</h2>
        <p>Here, the event publisher organizations are listed. Events published by each organization
            can be found at the <code>event</code> endpoint using the query parameter <code>publisher</code>.</p>

        <h4 id="organization-child">Organization ancestors</h4>
        <p>To find parent organization and all its ancestors for the given organization id use the query
            parameter <code>child</code>.</p>
        <p>Example:</p>
        <pre><code>organization/?child=ahjo:100</code></pre>
        <p><a href="?child=ahjo:100" title="json">See the result</a></p>

        <h4 id="organization-parent">Organization descendants</h4>
        <p>To find all suborganizations and their descendants for the given organization id use the query
            parameter <code>parent</code>.</p>
        <p>Example:</p>
        <pre><code>organization/?parent=ahjo:100</code></pre>
        <p><a href="?parent=ahjo:100" title="json">See the result</a></p>

        <h4 id="organization-dissolved">Dissolved organizations</h4>
        <p>To filter organizations based on their dissolution date use the parameter <code>dissolved</code>.
        The filter is boolean type and can be used to show only dissolved organizations (true) or exclude them (false).</p>

        <p>Get only dissolved organizations</p>
        <p>Example:</p>
        <pre><code>organization/?dissolved=true</code></pre>
        <p><a href="?dissolved=true" title="json">See the result</a></p>

        <p>Get organizations not dissolved</p>
        <p>Example:</p>
        <pre><code>organization/?dissolved=false</code></pre>
        <p><a href="?dissolved=false" title="json">See the result</a></p>
    </div>
</div>
