<div class="panel panel-default">
    <div class="panel-body">
        <p> This Linked events API contains event data from the City of Helsinki, including
            <a href="http://www.myhelsinki.fi/" title="Helsinki Marketing">Helsinki Marketing</a>,
            <a href="https://www.hel.fi/helsinki/fi/kulttuuri-ja-vapaa-aika/kulttuuri/kulttuuritalot/" title="Kulke">Helsinki Cultural Centres</a>
            and the <a href="http://www.helmet.fi/">Helmet metropolitan area public libraries</a>.</p>
        <p> The API is developed by the
            <a href="http://dev.hel.fi">City of Helsinki Open Software Development team</a>, who also provide
            the <a href="http://dev.hel.fi/apis/linked-events">complete API specifications</a>.
            The location information is linked to the City of Helsinki registry of service units which contains
            e.g. information about accessibility. In the API, you can search data by date or location as well
            as bounding box.</p>

        <h2>Data license</h2>
        <p>Unless otherwise stated, the data is licensed using CC BY 4.0 license:
            <a href="http://creativecommons.org/licenses/by/4.0/deed.fi">FI</a> |
            <a href="http://creativecommons.org/licenses/by/4.0/deed.sv">SV</a> |
            <a href="http://creativecommons.org/licenses/by/4.0/deed.en">EN</a>.</p>
        <p>However, some images may only be used for marketing the specific event and may not be used outside this context.
            These images are marked as <em>event_only</em> in the API. The <em>event_only</em> license is as follows:</p>
        <h4>FI</h4>
        <p>Helsingin kaupungilla on kuviin kaikki oikeudet. Mikäli rajapinnassa jaettavan kuvan tietojen
            kohdassa <em>license</em> on merkintä <em>event_only</em>, saa kuvaa käyttää ainoastaan kuvan
            tapahtumaa käsittelevään tiedotukseen ja viestintään. Kuvien käyttäminen tähän tarkoitukseen
            on käyttäjälle ilmaista. Kuvan käyttö tai siirto muihin tarkoituksiin on kielletty. Kuvia
            käytettäessä on ehdottomasti mainittava kuvien lähde ja kuvaaja.</p>
        <h4>SV</h4>
        <p>Helsingfors stad äger alla rättigheter till bilderna. Om beteckningen <em>event_only</em>
            förekommer under <em>license</em> i uppgifterna för en bild som delas i gränssnittet, får
            bilden användas endast för informering eller kommunikation som gäller evenemanget på bilden.
            Att använda bilderna för det här ändamålet är gratis. Att använda eller flytta bilden för
            andra ändamål är förbjudet. Vid användning av bilder ska källan och fotografen absolut
            nämnas.</p>
        <h4>EN</h4>
        <p>The City of Helsinki reserves all rights to the images. If the data at <em>license</em> of an
            image shared in the interface contains the text <em>event_only</em>, then the image can only
            be used for information and communications connected to the event depicted in the image.
            The images can be used free of charge for this purpose. To use or move the image for other
            purposes is forbidden. The source and photographer must absolutely be mentioned when using
            an image.</p>
    </div>
</div>
