<div class="panel panel-default">
    <div class="panel-body">
        <h2 id="using-search-endpoint">Using the search endpoint</h2>
        <p>This is the supposedly intelligent Elasticsearch Finnish full-text search for both events and places.
            The results are sorted by relevance score shown in the <code>score</code> field. The search parameter
            is <code>?q=</code>.

        <h4 id="specifying-resource-type">Specifying resource type</h4>
        <p>In the default case, both events and places are returned. The type of each resource is returned in the
            <code>resource_type</code> field. You may use the parameter <code>type</code> to ask for only
            <code>event</code> or <code>place</code>.

        <h4 id="events-with-decay-score">Future events with time decay</h4>
        <p>When searching for events only (<code>?type=event</code>), by default only future events are returned,
            with a decay function applied so that next events get a higher relevance score. This means that events
            in the near future are returned first:</p>
        <pre><code>search/?type=event&q=sibelius</code></pre>
        <p><a href="?type=event&q=sibelius" title="json">See the result</a></p>

        <h4 id="events-with-time-filtering">Events with time filtering</h4>
        <p>When searching for events only (<code>?type=event</code>), you may also search for events in
            the specified time range using <code>start</code> or <code>end</code> or both. In this case,
            relevance score is calculated only based on Finnish tokenization of the search string, with no time
            preference:</p>
        <pre><code>search/?type=event&q=sibelius&start=2017-01-01</code></pre>
        <p><a href="?type=event&q=sibelius&start=2017-01-01" title="json">See the result</a></p>

        <h4 id="autocomplete">Autocomplete</h4>
        <p>For fast autocomplete substring match in the resource name, use the <code>?input=</code> parameter
            instead. When searching for events only (<code>?type=event</code>), by default only future events
            are returned, with a decay function applied so that next events get a higher relevance score.
            May be combined with <code>start</code> and <code>end</code>.
        <pre><code>search/?type=place&input=sibe</code></pre>
        <p><a href="?type=event&input=sibe" title="json">See the result</a></p>
    </div>
</div>
