name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  common:
    uses: City-of-Helsinki/.github/.github/workflows/ci-django-api.yml@RAT-357/separate-sonarcloud-step
    secrets: inherit
    with:
      python-version: 3.12
      postgres-major-version: 17
      use-postgis: true
      extra-commands: |
        sudo apt-get install voikko-fi libvoikko-dev
        python manage.py spectacular --lang en --validate --fail-on-warn --api-version v1
